body {
  font-family: Helvetica, sans-serif;
  background-color: #0b7f9c;
  margin: 0;
  padding: 0;
  color: #333;
}

.hero {
  background-color: #ffffff;
  padding: 40px 20px;
  text-align: center;
}

.hero img {
  border-radius: 50%;
  margin: 20px 0;
}

.hero a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #0077cc;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.skills-grid {
  display: flex;
  
  flex-wrap: wrap;
  gap: 10px;
}

.skills-grid span {
  background-color: #eaeaea;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
}

header {
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
  position: static;
  top: 0;
  z-index: 1000;
  width: 100%;
  
}

footer {
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  position: static;
  bottom: 0;
  z-index: 1000;
  width: 100%;

  
  font-size: 14px;
  color: #666;
}


a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
  color: #005fa3;
}

/*for the greek-flag project below*/
.greek-flag-container {
    position: relative;
    margin: 50px auto;
    width: 700px;
    height: 450px;
    background-color: white;
}

.white-stripe{
    width: 700px;
    height: 50px;
    background-color: white;
}

.blue-stripe{
    width: 700px;
    height: 50px;
    background-color: blue;
}

.cross-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 254px;
    height: 250px;
    background-color: white;
}

.mini-blue-box {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: blue;
}

div.white-stripe > p {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: blue;
    font-weight: bold;
}

/*for the pricing-table project below*/

.pricing-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    flex-wrap: wrap;
    font-family: "Sono", sans-serif;
}
.pricing-plan {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
}
.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.plan-price {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    
}
.plan-features {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.plan-features li {
    margin: 5px 0;
}
.plan-button {
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
.plan-button:hover {
    background-color: #005fa3;
}
@media (max-width: 1250px) {
    .pricing-table-container {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}

/* End of style.css */